@import "tailwindcss";

:root {
  --background: #0b1326;
  --foreground: #dae2fd;
  --primary: #004ac6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

.heading-font {
  font-family: var(--font-heading);
}

.container-width {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;
}